<!DOCTYPE html>
<html data-ng-app="weatherApp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link href="css/style.css" rel="stylesheet">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="js/lib/underscore-min.js"></script>
    <script src="js/app.js"></script>
</head>
<body ng-controller="weatherCtrl">
<div class="container col-md-12">

    <div class="col-md-12" style="min-height: 100px">
        <h1 style="color: #337ab7"><a href="http://facebook.com/ducit" style="text-decoration: none">CùiMía</a></h1>
    </div>
    <div class="col-md-4 left-panel" style="padding: 20px;">
        <h3>Enter the zip code:</h3>

        <div>
            <form style="margin: 20px 0 20px 0" style="padding: 0px">
                <input type="number" class="form-control" id="zip" ng-model="zip" placeholder="84105">
                <input type="submit" class="btn btn-primary pull-right" value="Search" ng-click="findWeather(zip)">
            </form>
            <div style="clear: both"></div>
            <h3>or city name:</h3>

            <form style="margin: 20px 0 20px 0" style="padding: 0px">
                <input type="text" class="form-control" id="cityname" ng-model="cityname" placeholder="ha noi" autofocus>
                <input type="submit" class="btn btn-primary pull-right" value="Search"
                       ng-click="findWeatherByCityName(cityname)">
            </form>
        </div>
        <div style="clear: both"></div>
        <div style="font-size: 16px">
            <p ng-show="zip">Lasted zip search: <strong>{{zip}}</strong></p>

            <p ng-show="cityname">Lasted city search: <strong>{{cityname}}</strong></p>

            <p class="status">Status:
                <span ng-show="isloaded" class="done-true">Found</span>
                <span ng-hide="isloaded" class="done-false">Not found</span>
            </p>

        </div>
    </div>
    <div class="col-md-8">
        <div ng-show="isloaded">
            <h1>Forecast For: {{ place.location.city }}</h1>

            <h2>Current: {{ place.item.condition.text }} | {{ f2c(place.item.condition.temp) }}&deg;C <img
                    src="http://l.yimg.com/a/i/us/we/52/{{place.item.condition.code}}.gif"/>
            </h2>


            <h4 style="color: green">Forecast for next 5 days</h4>
            <table class="table table-hover table-bordered ">
                <thead align="center">
                <tr>
                    <td width="8%"><b>STT</b></td>
                    <td><b>Date</b></td>
                    <td colspan="2"><b>Condition</b></td>
                    <td><b>High</b></td>
                    <td><b>Low</b></td>
                </tr>
                </thead>
                <tr ng-repeat="forecast in place.item.forecast">
                    <td align="center">{{$index+1}}</td>
                    <td>{{ forecast.date }}</td>
                    <td>{{ forecast.text }}</td>
                    <td align="center"><img src="http://l.yimg.com/a/i/us/we/52/{{forecast.code}}.gif"></td>
                    <td align="center">{{ f2c(forecast.high) }}&deg;C</td>
                    <td align="center">{{ f2c(forecast.low) }}&deg;C</td>
                </tr>
            </table>

            <div style="margin-top: 30px;color: #cccccc;font-style: italic">Last Update:{{place.lastBuildDate}}</div>
            <input type="submit" class="btn btn-primary" value="Clear" ng-click="reset()" onclick="clearData()">
        </div>
        <div ng-hide="isloaded" align="center">
            <p>

            <h4 style="color: #265a88;margin-top: 50px">Please enter the city name or zip code to view.</h4>
            </p>
            <img src="img/loading2.gif" width="180px" height="180px">
        </div>
    </div>

</div>
<script>
    function clearData() {
        document.getElementById("zip").value = "";
        document.getElementById("cityname").value = "";
    }
</script>


</body>
</html>